.center {
    position: static;
}

.logo {
  width: 300px;
  height: 125px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.search {
  display: block;
  margin: auto;
}

li {
  list-style: none;
}