body{
  font-family: arial, sans-serif;
  text-align: center;
  display: inline;
  margin: auto;
}

header {
  height: 50px;
  top: 0;
  margin: 0px 10px 0px 10px;
}

.center {
    position: static;
    margin-top: 9%;
}

.logo {
  width: 300px;
  height: 125px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.search {
  display: block;
  margin: auto;
}

nav {
  margin-top: 10px;
  padding: 2px 2px 2px 2px;
}

nav li{
  display: inline-block;
  line-height: 24px;
  outline: none;
  vertical-align: middle;
}

ul {
  list-style-type: none;
  font-size: 13px;
  padding: 0px;
  margin-left:10px;
  margin-right:10px;
}

.right-float li {
  float: right;
}

.left-float li {
  float: left;
}

a {
  color: black;
  text-decoration: none;
  margin: 20px 10px 10px 10px;
}

a:hover {
  text-decoration: underline;
}

#apps {
  background-image: url('https://ssl.gstatic.com/gb/images/i1_1967ca6a.png');
  background-position: -132px -38px;
  background-size: 528px 68px;
  height: 30px;
  width: 30px;
}

button {
  height: 32px;
  width: 32px;
  font-size: 13px;
  text-align: center;
  border-radius: 75%;
  background-color: #0288d1;
  border: 0px;
  margin: 0px 10px 0px 10px;
  font-weight: bold;
}

.search {
  height: 45px;
  margin: 0 auto;
  border: 1px solid #dfe1e5;
  border-radius: 25px;
  width: 500px;
  background-color: white;
  color: black;
  padding: 0px 25px 0px 25px;
}

main {
  height: 445px;
  padding-bottom: 35px;
}

footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  padding-bottom: 15px;
  background-color:#f2f2f2;
  color:rgb(95, 99, 104);
  border-top:1px solid #e4e4e4;
}